<?php 

$dominio = 'livrariaonline.ga';


/**
 * Configuration for: Project URL/
 * Put your URL here, for local development "127.0.0.1" or "localhost" (plus sub-folder) is fine
 */

if (!defined('URL'))
define('URL', 'http://' . $dominio . '/');

if (!defined('PATH_PUBLIC'))
define('PATH_PUBLIC', 'http://' . $dominio . '/public/');

if (!defined('PATH_VIEW'))
define('PATH_VIEW', 'http://' . $dominio . '/application/views/');

if (!defined('LIBS_PATH'))
define('LIBS_PATH', dirname(__DIR__) . '/libs/');



if (!defined('DB_TYPE'))
define('DB_TYPE', 'mysql');

if (!defined('DB_HOST'))
define('DB_HOST', '127.0.0.1');

if (!defined('DB_NAME'))
define('DB_NAME', 'livraria_teste');

if (!defined('DB_USER'))
define('DB_USER', 'root');

if (!defined('DB_PASS'))
define('DB_PASS', '123456');

$path_libs = dirname(__DIR__) . '/application/libs/*.php';


foreach (glob($path_libs) as $filename)
{
    include_once $filename;
}

$path_controller = dirname(__DIR__) . '/application/controller/*.php';

foreach (glob($path_controller) as $filename)
{
    include_once $filename;
}


